section.section.section-provider-archive
  article.article-content

    .block
      - @providers.sort.each do |provider|
        .block-item.alert-light
          .details
            .name = provider.full_name
          .options
            ul.actions
              li = link_to restore_provider_path(provider), target: "_self"
                i.fa.fa-refresh
              - if can? :destroy, Provider
                li = link_to provider_path(provider), data: {:confirm => 'Are you sure?'}, :method => :delete
                  i.fa.fa-trash