
.color-primary { color: $primary-color !important; }
.color-secondary { color: $secondary-color !important; }
.color-success { color: $success-color !important; }
.color-alert { color: $alert-color !important; }
.color-warning { color: $warning-color !important; }
.color-info { color: $info-color !important; }
.muted { color: lighten($body-font-color, 15%); }

.top-bar-section {
  ul {
    li.icon:not(.has-form):first-child a:not(.button) {
      padding-right: 0px;
      & > i {
        font-size: rem-calc(18px);
      }
    }
  }
  li.divider {
    width: auto;
    background: transparent;
    border: none;
    line-height: $topbar-height;
    color: darken($topbar-link-color, 15%);
  }
}

$tooltip-arrow-size: 10px;
.tooltip {
    background-color: rgba($primary-color, 0.8) !important;
    border-radius: $global-radius !important;
    padding: 6px 8px;
    font-size: 10px;
    white-space: nowrap;
    
    &.tip-left {
        .nub {
            border-left-color: rgba($primary-color, 0.8) !important;
        }
    }
    &.tip-right {
        .nub {
            border-right-color: rgba($primary-color, 0.8) !important;
        }
    }
    &.tip-top {
        .nub {
            border-top-color: rgba($primary-color, 0.8) !important;
        }
    }
    &.tip-bottom {
        .nub {
            border-bottom-color: rgba($primary-color, 0.8) !important;
        }
    }
}

.alert-box {
    border-width: 0px;
    
    h2 {
        color: #fff;
        font-size: 1.2rem;
    }
    i {
        display: inline-block;
        margin-right: 5px;
    }
}

span.label + span.label {
    margin-left: 5px;
}