@mixin retina($hd: false) {
  $density: 1.5;
  
  @if $hd {
    $density: 3;
  }

  @media #{$screen} and (min--moz-device-pixel-ratio: #{$density}),
         #{$screen} and (-o-min-device-pixel-ratio: #{$density * 2}/2),
         #{$screen} and (-webkit-min-device-pixel-ratio: #{$density}),
         #{$screen} and (min-device-pixel-ratio: #{$density}),
         #{$screen} and (min-resolution: #{$density}dppx) {
    @content;
  }
}

// List Groups
@mixin list-group-item-variant($state, $background, $color) {
  .list-group-item-#{$state} {
    color: $color;
    background-color: $background;

    // [converter] extracted a& to a.list-group-item-#{$state}
  }

  a.list-group-item-#{$state} {
    color: $color;

    .list-group-item-heading {
      color: inherit;
    }

    &:hover,
    &:focus {
      color: $color;
      background-color: darken($background, 5%);
    }
    &.active,
    &.active:hover,
    &.active:focus {
      color: #fff;
      background-color: $color;
      border-color: $color;
    }
  }
}

// Overflow ellipsis
@mixin ellipsis($max-width: false, $display: inline-block, $no-wrap: true) {
  @if $no-wrap {
    white-space: nowrap;
  }
  @if $max-width {
    max-width: $max-width;
  }
  display: $display;
  overflow: hidden;
  text-overflow: ellipsis;
}
