.no-flexbox body {
  background-color: #ffffff;
}

.wrap > header,
.wrap > main,
.wrap > footer {
  position: relative;
  @include clearfix;

  & > section.section {
    @include grid-row();

    article.article-content,
    article.article-navigation {
      @include grid-column($columns: 12);
    }
  }
}

.wrap > main,
.wrap > footer {
  z-index: 1;
  margin: $column-gutter 0;
}

.wrap > footer {
  section.section-footer {
    & > div {
      border-top: 1px solid $secondary-color;
      padding-top: 15px;
      p { font-size: 13px; }
    }
    & > div.copyright {
      @include grid-column($columns: 8);
    }
    & > div.support {
      @include grid-column($columns: 4, $last-column: true);
      text-align: right;
    }
  }
}

.splash {
  .wrap {
    @include grid-row();

    & > header,
    & > flash,
    & > main,
    & > footer {
      @include grid-column(
        $columns: 12
      );

      @media #{$medium-up} {
        @include grid-column(
          $columns: 6,
          $center: true
        );
      }

      @media #{$large-up} {
        @include grid-column(
          $columns: 4,
          $center: true
        );
      }

      .shared-links {
        p {
          margin: 0;
        }
      }
    }

    & > footer {
      section.layout {
        & > section.copyright,
        & > section.support {
          @include grid-column(
            $columns: 12
          );
          text-align: center;
          border: none;
          padding-top: 0;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}

// .config {
//   background-color: $white;
// }

