/ .block-panel(data-equalizer-watch)
/   .header = truncate field.label, length: 70, separator: ' '

/   .content
/     / .stat
/     /   .above-median
/     /     big
/     /       = percent(total_answers(resource: @survey.responses, where: { field: field, value: field.above_median_range }), @survey.responses.size, false, 0) * 100
/     /       small %
/     /     i.fa.fa-arrow-up


/     /   .below-median
/     /     big
/     /       = percent(total_answers(resource: @survey.responses, where: { field: field, value: field.below_median_range }), @survey.responses.size, false, 0) * 100
/     /       small %
/     /     sup
/     /       i.fa.fa-arrow-down

/     / .extras
/     /   .average-time
/     /     div = field.average_time
/     /     div avg time

/     /   .median
/     /     span.muted Median 
/     /     = field.median
    
/     / .chart(bar-graph)
/     /   = column_chart chart_survey_path(@survey, :scale, field), height: "100%"
