.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000) all;
    -moz-transition: 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000) all;
    -ms-transition: 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000) all;
    -o-transition: 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000) all;
    transition: 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000) all;
    position: relative;
    display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}