$button-size: 30px;

.block {
  // @include grid-column($columns: 12);
  .block-item {
    @include grid-row();
    border-radius: $global-radius;
    background: scale-color($body-bg, $lightness: 50%);
    padding: rem-calc(10 15);
    margin-bottom: 10px;
    // cursor: pointer;
    position: relative;
    max-height: 80px;

    &.alert-light {
      color: $alert-color;
    }

    a.trigger {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }

    &.new {
      background: $success-color;
      border-color: lighten($success-color, 15%);
      color: #fff;
    }

    .details {
      @include grid-column($columns: 11, $collapse: true);

      @media #{$medium-up} {
        @include grid-column($columns: 10, $collapse: true);
      }
    }
    .options {
      @include grid-column($columns: 1, $collapse: true);

      @media #{$medium-up} {
        @include grid-column($columns: 2, $collapse: true);
      }
    }

    .details {
      .status, .name {
        display: inline-block;
      }
      .info {
        font-size: rem-calc(12);
      }
      .status {
        margin-right: 15px;
        &.draft {
          color: $warning-color;
          cursor: pointer;
        }
        &.published {
          color: $success-color;
        }
      }
      .name {
        line-height: $button-size;
      }
      .avatar {
        background-color: $primary-color;
        float: left;
        line-height: $button-size;
        margin: -10px 10px -10px -15px;
        border-radius: $global-radius 0 0 $global-radius;
      }
    }
  }
}

.block-item .options,
.timeline .options {
  position: relative;
  z-index: 20;
  text-align: right;
  ul.actions {
    @extend .inline-list;
    margin: 0px;
    li {
      margin-left: 15px;
      display: inline-block;
      float: none;
      line-height: $button-size;
      a {
        width: $button-size;
        height: $button-size;
        // background: $snow;
        display: block;
        text-align: center;
        position: relative;
        i {
          position: relative;
          top: 2px;
          font-size: 16px;
        }
      }
    }
  }
}