body.config.fields.index {
  height: auto !important;
  overflow: auto;

  &.locked {
    overflow: hidden;
  }

  #release-button {
    display: none;
  }
}

.form-preview {

  ol.form-preview-fields {
    list-style-type: none;
    padding: 0;
    margin: 0;

    & > li {
      font-weight: 600;
      // cursor: move;
      cursor: pointer;
      background: $white;
      border-top: 1px solid $smoke;
      
      .field-container {
        border: 1px dashed transparent;
        padding: $column-gutter;
        
        .toolbar {
          display: none;
        }

        &:hover {
          border: 1px dashed $iron;

          .toolbar {
            display: block;
          }
        }

        &.active {
          
        }

        .field-section {
          margin-bottom: rem-calc(10);
        }
      }

      &:last-of-type .field-container {
        padding-bottom: 0;
      }

      .editable {
        display: inline-block;
        padding: 2px;
        border: 2px solid transparent;
        cursor: text;
        margin: auto -4px;

        &.editable-empty {
          color: $iron;
          font-weight: $font-weight-normal;
        }

        &:hover, &:focus, &:focus:hover {
          outline: none;
          background: $white;
          border-color: darken(#FFF8DD, 10%);
        }

        &:hover {
          background: lighten(#FFF8DD, 2%);
        }
      }

      input[type="text"],
      input[type="number"],
      input[type="tel"],
      input[type="email"],
      textarea {
        &, &.editable {
          border: 2px solid $primary-color;
          background: $white;
          margin: auto 0;
        }

        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
      }

      textarea {
        padding: 0.25em;
      }

      .field-instructions {
        color: $info-color;
      }

      .field-label {
        color: $primary-color;
        font-size: 1.2rem;
      }

      .field-input {

      }

    }
  }

}

.toolbar {
  & > .section {
    @include grid-column($columns: 4, $collapse: true);
  }
}


.sort {
    position: relative;
    display: block;
    list-style: none;
}
.sort-list {
    display: block;
    position: relative;
    list-style: none;
    // margin: 0px;
    // padding: 0px;
}
.sort-item,
.sort-empty,
.sort-placeholder {
    display: block;
    position: relative;
    min-height: 20px;
    // margin: 0;
    // padding: 0;
}
.sort-placeholder,
.sort-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: $white-smoke !important;
    border: 1px dashed $iron !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.sort-item {
    z-index: 10;
}
.sort-dragel {
    position: absolute;
    left: 0;
    pointer-events: none;
    z-index: 9999;
}

section.section-dropables {
  @include grid-row($behavior: nest);
  margin-bottom: $column-gutter;

  & > div {
    @include grid-column($columns: 12);

    @media #{$medium-up} {
      @include grid-column($columns: 6);
    }

    & > .dropable {
      border: 3px dashed darken($body-bg, 10%);
      border-radius: $global-radius;
      text-align: center;
      padding: $column-gutter;
      font-size: rem-calc(30);
      color: darken($body-bg, 10%);

      &:hover {
        border-color: $primary-color;
        color: $primary-color;
      }
    }
  }
}