// Requires Foundation, Bourbon

$primary-select-bg-hover: scale-color($primary-color, $lightness: $button-function-factor) !default;
$primary-select-border-color: $primary-select-bg-hover;
$secondary-select-bg-hover: scale-color($secondary-color, $lightness: $button-function-factor) !default;
$secondary-select-border-color: $secondary-select-bg-hover;
$default-select-bg-hover: scale-color($default-color, $lightness: $button-function-factor) !default;
$default-select-border-color: $default-select-bg-hover;

$filter-color: #e6eaf2;
$filter-select-bg-hover: scale-color($filter-color, $lightness: $button-function-factor) !default;
$filter-select-border-color: $filter-color;

.select2-container {
  margin: rem-calc(0 5 0 0);
  position: relative;
  display: inline-block;
  width: 200px;

  .select2-choice {
    @include button-base;
    @include button-size($full-width: true);
    @include button-style(
      $bg: $default-color,
      $bg-hover: $default-select-bg-hover,
      $border-color: $default-select-border-color,
      $radius: $global-radius
    );
    @include dropdown-button($padding: tiny);
    @include single-transition(background-color);
    @include user-select(none);
    -webkit-touch-callout: none;

    & > .select2-chosen {
      @include ellipsis($display: block);
      margin-left: 1rem;
      text-align: left;
      float: none;
      width: auto;
    }

    abbr, .select2-arrow {
      display: none;
    }
  }
  
  // Primary Styles
  &.primary .select2-choice {
    @include button-style(
      $bg: $primary-color,
      $bg-hover: $primary-select-bg-hover,
      $border-color: $primary-select-border-color
    );
  }
  // Secondary Styles
  &.secondary .select2-choice {
    @include button-style(
      $bg: $secondary-color,
      $bg-hover: $secondary-select-bg-hover,
      $border-color: $secondary-select-border-color
    );
  }
  // Filter Styles
  &.filter .select2-choice {
    @include button-size($padding: $button-sml, $full-width: true);
    @include button-style(
      $bg: $filter-color,
      $bg-hover: $filter-select-bg-hover,
      $border-color: $filter-select-border-color
    );
    @include dropdown-button($pip-color: $primary-color, $padding:small);
    border: none;
    color: $primary-color;
    font-size: $button-font-med;
    font-weight: $font-weight-normal;

    &:hover {
      color: $primary-color;
      box-shadow: none;
    }
  }
  &.primary .select2-choice,
  &.secondary .select2-choice {
    @include dropdown-button($pip-color: $white);
  }

  &.select2-container-active {
    .select2-choice,
    .select2-choices {
      outline: none;
      background: $default-select-bg-hover;
    }

    &.primary .select2-choice {
      background: $primary-select-bg-hover;
    }
    &.secondary .select2-choice {
      background: $secondary-select-bg-hover;
    }
    &.filter .select2-choice {
      background: $success-color;
      color: $white;
    }
  }

  &.select2-container-disabled {
    .select2-choice {
      cursor: default;
      .select2-chosen {
        opacity: 0.4;
      }
      &:hover {
        background: $default-color;
      }
    }

    &.primary {
      .select2-choice:hover {
        background: $primary-color;
      }
    }
    &.secondary {
      .select2-choice:hover {
        background: $secondary-color;
      }
    }
    &.filter {
      .select2-choice:hover {
        background: $filter-color;
      }
    }
  }
}

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  @include position(fixed, 0 null null 0);
  @include size(auto);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  z-index: 9998;
  filter: alpha(opacity=0);
}

.select2-drop {
  @include position(absolute, 100% null null null);
  width: 100%;
  z-index: 9999;

  background: $white;
  color: $titanium;
  border: 1px solid $iron;
  padding: rem-calc(4);

  border-radius: $global-radius;

  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
          box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
  
  &::before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }

  &::after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
  }

  &.select2-drop-active {
    border: 1px solid $iron;
  }

  &.select2-drop-above {
    margin-top: 1px;

    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
  }

  .select2-search {
    input {
      background: $white image-url('select2.png') no-repeat 100% -22px;
      padding: rem-calc(4 20 4 5);
      margin: 0;
      height: auto;
      outline: 0;
      font-size: 1rem;
      border-radius: $global-radius;
      border: 1px solid $iron;
      line-height: normal;
      position: relative;

      &.select2-active {
        background: $white image-url('select2-spinner.gif') no-repeat 100%;
      }
    }
  }

  .select2-results {
    max-height: 250px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &, & ul {
      padding: 0;
      margin: rem-calc(4 0 0 0);
    }

    li {
      list-style: none;
      display: list-item;
      background-image: none;
      line-height: normal;
      margin: rem-calc(2 0);

      &.select2-result-with-children > .select2-result-label {
        font-weight: bold;
      }

      .select2-result-label {
        padding: rem-calc(4 7);
        margin: 0;
        cursor: pointer;
        font-size: rem-calc(12);

        min-height: 1rem;

        @include user-select(none);
        -webkit-touch-callout: none;
      }

      &.select2-results-dept-1 .select2-result-label { padding-left: rem-calc(20px) }
      &.select2-results-dept-2 .select2-result-label { padding-left: rem-calc(40px) }
      &.select2-results-dept-3 .select2-result-label { padding-left: rem-calc(60px) }
      &.select2-results-dept-4 .select2-result-label { padding-left: rem-calc(80px) }
      &.select2-results-dept-5 .select2-result-label { padding-left: rem-calc(100px) }
      &.select2-results-dept-6 .select2-result-label { padding-left: rem-calc(110px) }
      &.select2-results-dept-7 .select2-result-label { padding-left: rem-calc(120px) }

      em {
        background: #feffde;
        font-style: normal;
      }

      &.select2-highlighted {
        background: $primary-color;
        color: $white;
        border-radius: $global-radius;

        em {
          background: transparent;
        }

        ul {
          background: $white;
          color: $titanium;
        }
      }
    }
  }
}

.error .select2-container {
  margin-bottom: 0;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  // Force border-box so that % widths fit the parent
  // container without overlap because of margin/padding
  @include box-sizing(border-box);
}

.ui-select-offscreen,
.ui-select-offscreen:focus,
.select2-offscreen,
.select2-offscreen:focus {
  @include size(1);
  clip: rect(0 0 0 0) !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

.select2-display-none {
  display: none;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx)  {
  .select2-search input,
  .select2-search-choice-close,
  .select2-container .select2-choice abbr,
  .select2-container .select2-choice .select2-arrow b {
    background-image: image-url('select2x2.png') !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }

  .select2-search input {
    background-position: 100% -21px !important;
  }
}