section.filters#advanced-filters,
section.response-data#responses {
  background-color: #f5f6f8;
  padding: ($column-gutter / 1.5) 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  display: none;
}

section.filter-bar {
  section.section-filter-bar {
    @include grid-row();

    .resource-filters {
      @include grid-column($columns: 12);

      // Large Screens
      @media #{$large-up} {
        @include grid-column($columns: 8);
      }
    }

    .date-filters {
      @include grid-column($columns: 12);

      // Large Screens
      @media #{$large-up} {
        @include grid-column($columns: 4);
        text-align: right;
      }
    }
  }
}

body.responses.index {

  // Float the last column left
  [class*="column"] + [class*="column"]:last-child {
    float: left;
  }

  & > .wrap > main {
    section.section {

      &.section-overall-responses .block-panel > .content {
        height: rem-calc(160);
      }

      &.section-field-responses .block-panel > .content {
        height: rem-calc(240);
      }

      &.section-clinic-usage .block-panel > .content {
        height: rem-calc(400);
      }

      article .block-panel > .content {
        position: relative;
      }

      // 12/4/3 Column Blocks
      article.article-multiple-choice,
      article.article-checkboxes,
      article.article-dropdown,
      article.article-number,
      article.article-scale {
        // Small Screens
        @include grid-column($columns: 12);

        // Medium Screens
        @media #{$medium-up} {
          @include grid-column($columns: 4);
        }

        // Large Screens
        @media #{$large-up} {
          @include grid-column($columns: 3);
        }

        // Print
        @media print {
          @include grid-column($columns: 3);
        }
      }

      // 12/8/6 Column Blocks
      article.article-single-line-text,
      article.article-paragraph-text,
      article.article-header {
        // Small Screens
        @include grid-column($columns: 12);

        // Medium Screens
        @media #{$medium-up} {
          @include grid-column($columns: 8);
        }

        // Large Screens
        @media #{$large-up} {
          @include grid-column($columns: 6);
        }

        // Print
        @media print {
          @include grid-column($columns: 6);

          h4 {
            font-weight: $font-weight-bold;
          }
        }
      }

      // 6/3/3 Column Blocks
      article.article-response-chart,
      article.article-timing-chart {
        // Small Screens
        @include grid-column($columns: 6);

        // Medium Screens
        @media #{$medium-up} {
          @include grid-column($columns: 3);
        }

        // Print
        @media print {
          @include grid-column($columns: 3);
        }

        .stat {
          color: $body-font-color;
          display: table;
          big, span {
            display: table-cell;
            vertical-align: middle;
          }
          big {
            font-size: rem-calc(30);
            font-weight: 600;
            padding: 0 5px;
          }
          span {
            font-weight: 300;
          }
        }
      }

      // 12/12/12 Column Blocks
      article.article-responses-table,
      article.article-clinic-usage,
      article.article-nav {
        @include grid-column($columns: 12);
      }

      article.article-scale {
        div.content {
          @include grid-row();
          color: $body-font-color;

          div.stat,
          div.extras {
            @include grid-column($columns: 6);
          }
          div.chart {
            @include grid-column($columns: 12, $collapse: true)
          }

          div.stat {
            text-align: right;

            & > div {
              line-height: rem-calc(32);

              big {
                font-size: rem-calc(30);
                font-weight: 600;
              }

              i { font-size: rem-calc(16); }

              &.above-median i {
                color: $success-color;
              }
              &.below-median i {
                color: $warning-color;
              }
            }
          }

          div.extras {
            font-size: rem-calc(18);

            .average-time {
              & > div {
                @include grid-column($columns: 6, $collapse: true)
              }
              & > div:last-child {
                font-size: rem-calc(10);
                line-height: rem-calc(11);
                padding-left: 5px;
                padding-top: 2px;
              }
            }
          }
        }
      }

    } // End section.section
  } // End & > .wrap > main
} // End body.responses.index