.daterangepicker {
  border-radius: $global-radius;
  border: 1px solid $iron;
  margin-top: $button-margin-bottom / 2;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
          box-shadow: 0 4px 5px rgba(0, 0, 0, .15);

  button.button {
    border-radius: $global-radius;

    &.cancelButton {
      @extend .secondary;
    }
  }

  .ranges {
    margin-bottom: $column-gutter/2;

    label {
      color: $body-font-color;
    }
    .input-mini {
      border-radius: 0;
      background-color: transparent;
      font-weight: 600;
    }

    li {
      font-size: rem-calc(12);
      padding: rem-calc(3 8);
      border-radius: $global-radius;
      margin-bottom: rem-calc(5);
      color: $body-font-color;
      border:none;
      background-color: #f2f2f2;

      &.active, &:hover {
        background-color: $primary-color;
        border: none;
      }
    }
  }

  td.active {
    background-color: scale-color(#e6eaf2, $lightness: -10%);
    border:none;

    &:hover {
      background-color: scale-color(#e6eaf2, $lightness: -20%);
      border:none;
    }
  }
  td.in-range {
    background-color: #e6eaf2;
    border:none;

    &:hover {
      background-color: scale-color(#e6eaf2, $lightness: -10%);
      border:none;
    }
  }

  td.start-date {
    border-radius: 2px 0 0 2px;
  }
  td.end-date {
    border-radius: 0 2px 2px 0;
  }
  td.start-date,
  td.end-date {
    // color: scale-color($primary-color, $lightness: -10%);
  }

  td.start-date.end-date {
    border-radius: 2px;
  }

  .calendar {
    width: 280px;

    .calendar-date {
      border: none;
    }

    th {
      background-color: $white;
      color: $body-font-color !important;
    }
  }

}