
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  // @include radius($global-radius);
}

input[type="file"] {
  padding: 10px;
  border: 1px solid #e4e4e4;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.field_with_errors {
  label {
    color: $alert-color;
  }
  input {
    border-color: $alert-color;
  }
}

div.form-header,
div.form-group,
div.form-buttons {
  @include grid-row($behavior: nest);
  &.nested {
    .columns {
      &:first-child { padding-left: 0px; }
      &:last-child { padding-right: 0px; }
    }
  }
  .full {
    @include grid-column($columns: 12);
  }
  .half {
    @include grid-column($columns: 12);
    @media #{$large-up} {
      @include grid-column($columns: 6);
    }
   }
  .half:first-child {
    .bootstrap-touchspin {
      padding-left: 0px;
    }
  }
}

// Touchspin overrides
.bootstrap-touchspin {
  @include grid-row($behavior: nest);
  margin-right: 10px;

  .input-group-btn {
    @include grid-column($columns: 2, $collapse: true);
  }
  .input-group-addon {
    @include grid-column($columns: 2, $collapse: true);
    @extend .prefix;
  }

  .input-group-btn:first-child .button {
    border-top-left-radius: $global-radius;
    border-bottom-left-radius: $global-radius;
  }
  .input-group-btn:last-child .button {
    border-top-right-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
  }
  input {
    @include grid-column($columns: 6, $collapse: true);
    border-radius: 0px;
  }
}

.inverse {
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="color"],
  textarea {
    background-color: $inverse-input-bg-color;
    border-color: transparent;
    color: $inverse-input-font-color;
  }

  label, & {
    color: scale-color($inverse-input-font-color, $lightness: -10%);
  }

  select.select2 {
    display: none !important;
  }

  .select2-container-active .select2-choice,
  .select2-container-active .select2-choices {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .radio label > div {
    margin-right: 5px;
  }

  .select2-container .select2-choice {
    border: none;
    background-color: $inverse-input-bg-color;
    background-image: none;
    padding: $form-spacing / 2;
    height: auto;
  }
  .select2-container {
    width: 80%;
  }
  .select2-choice {
    font-size: $input-font-size;
    color: $inverse-input-font-color;
  }
  .input-group-btn .button, .select2-container .select2-choice .select2-arrow, .input-group-addon {
    border: none;
    background-image: none;
    background-color: lighten($inverse-input-bg-color, 5%) !important;
    font-size: $input-font-size;
    color: $inverse-input-font-color !important;
  }

  .input-group-addon {
    background-color: lighten($inverse-input-bg-color, 2%) !important;
  }

  .btn-primary, .select2-container .select2-choice .select2-arrow {
    width: 25px;
  }

  .choices {
    li {
      margin-bottom: 5px;
      > * {
        display: inline-block;
      }
      > div {
        width: 20px;
        margin-right: 5px;
      }
      input {
        margin-left: 7px;
        margin-right: 2px;
        width: 75%;
        margin-bottom: 0;
      }
      i {
        margin-top: 4px;
        margin-left: 3px;
        cursor: pointer;
      }
    }
  }

}

label {
  font-weight: 600;
  div + span {
    font-size: $input-font-size;
    display: inline-block;
    margin-left: 5px;
  }
}

div.form-header {
  margin-bottom: rem-calc(20px);

  div.tag {
    @include grid-column($columns: 1);
    i {
      top: 2px;
      color: $silver;
    }

    @media #{$small-only} {
      display: none;
    }
  }
  div.header {
    @include grid-column($columns: 11);
    @media #{$small-only} {
      @include grid-column($columns: 12);
      h3 {
        border-bottom: 1px solid $silver;
      }
    }
    h3 {
      margin-top: 0;
    }
  }
}
form.indent-fields {
  .form-group,
  .form-buttons {
    .full {
      @include grid-column($columns: 11, $offset: 1);

      @media #{$small-only} {
        @include grid-column($columns: 12, $offset: 0);
      }
    }
    .description {
      margin-bottom: 20px;
    }
  }
}

div.form-buttons {
  margin-top: 40px;
}

input[required].ng-invalid.ng-dirty,
input[required].ng-pristine {
  border-left-color: $alert-color !important;
  border-left-width: 2px;
}
input[required].ng-valid {
  border-left-color: $success-color !important;
  border-left-width: 2px;
}