header {
  background: $white;
  z-index: 3;
  
  // Top Bar
  &, & > .navigation {
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.2);
  }
  
  .top-bar .name h1 a {
    border-left: 1px solid $smoke;
    border-right: 1px solid $smoke;
  }

  .top-bar-section {
    li:not(.has-form) a:not(.button) {
      border-right: 1px solid $smoke;
      i.fa {
        font-size: 16px;
      }
    }

    li.superuser {
      & > a, & > a:hover {
        color: $alert-color;
      }
    }

    li.user-profile {
      a:not(.button) {
        padding: 0px !important;
        img {
          display: block;
        }
      }
    }
  }
  
  // Toolbox
  section.section-toolbox {

    // Grid
    div.toolbox-header,
    div.toolbox-actions {
      @include grid-column($columns: 12);
      padding: $column-gutter 0;

      @media #{$medium-up} {
        @include grid-column($columns: 6);
      }
    }
  
    // Toolbox Header
    div.toolbox-header {
      hgroup {
        h2 {
          font-size: rem-calc(36);
          margin-bottom: 0;
        }
        h3.subheader {
          font-size: rem-calc(18);
          margin-top: 0;
        }
      }
    }
    
    // Toolbox Actions
    div.toolbox-actions {
      text-align: right;

      .button {
        margin: ($column-gutter / 1.5) 0 5px;
        text-transform: uppercase;
      }

      .link {
        font-size: rem-calc(12px);
        margin-bottom: 0;
      }
    }
  }
}

.splash header {
  background: transparent;
  box-shadow: none;

  section.branding {
    @include grid-column($columns: 12);
    .logo {
      margin: 0 auto;
    }
  }
}