.sub-nav dt a, 
.sub-nav dd a, 
.sub-nav li a {
  background-color: scale-color($primary-color, $lightness: 25%);
  border-radius: $global-radius;

  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

.filter-bar {
  // background: $body-bg;
  padding-top: rem-calc(20);

  .export.button {
    visibility: hidden;
  }
  
  &.fixed {
    box-shadow: 0 0 3px 0 rgba($black, 0.3);
    background: $white;
    margin-top: 0;

    .export.button {
      visibility: visible;
    }
  }
}