section.section-user-collection {
  .block {
    margin-top: $column-gutter / 2;
    margin-bottom: $column-gutter;
  }
}

section[class*="collection"] {
  section.section-filters {
    @include grid-row($behavior: nest);

    .search {
      @include grid-column($columns: 12);
    }
  }
}

section.section-survey-fields-collection {
  position: relative;

  .block-panel {
      -webkit-box-shadow: inset 0px -10px 5px -5px rgba(255, 255, 255, 0.75);
      -moz-box-shadow:    inset 0px -10px 5px -5px rgba(255, 255, 255, 0.75);
      box-shadow:         inset 0px -10px 5px -5px rgba(255, 255, 255, 0.75);
    .content {
      overflow: scroll;
    }
  }
}