//
// Pagestackr
// --------------------------------------------------

// .pagestack-open      - body class for killing the scroll
// .pagestack           - container to scroll within
// .pagestack-dialog    - positioning shell for the actual modal
// .pagestack-content   - actual pagestack w/ bg and corners and shit

$pagestack-background: $primary-color;
$pagestack-text-color: $white; //lighten($body-font-color, 10%);
$pagestack-title-padding: 20px;
$pagestack-title-line-height: auto;
$pagestack-title-height: 80px;
$pagestack-footer-height: 80px;

$pagestack-inner-padding: 20px;

$pagestack-width: 400px;
$pagestack-width-sm: 300px;
$pagestack-width-lg: 500px;
$zindex-modal: 1000;

.pagestack {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex-modal;

  background: rgba($black, 0.7); //$white-smoke;

  @media #{$large-up}, #{$landscape} {
    overflow: hidden;
  }
  
  // Prevent Chrome & Firefox from adding a focus outline
  outline: 0;
  
  // When sliding the pagestack, animate it to slide down.
  &.slide .pagestack-dialog {
    @include translate3d(-100%, 0, 0);
    @include transition(.3s ease-out);
  }
  &.in .pagestack-dialog { @include translate3d(0, 0, 0) }
}

.pagestack-dialog {
  width: 100%;
  height: 100%;

  // -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  // box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.pagestack-content {
  display:none; // UNTIL COMPLETED
  @include grid-column($columns: 12, $last-column: true, $collapse: true);
  position: relative;
  overflow: hidden;
  height: 50%;
  z-index: $zindex-modal + 30;
  @media #{$large-up}, #{$landscape} {
    @include grid-column($columns: 8, $last-column: true);
    height: 100%;
  }
  // background-color: $black;

  .background-image {
   /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    left: 50%;
    margin-left: -512px; 
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    &.blur {
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }
    &.shade {
      background-color: $black;
      opacity: .5;
    }
  }
}

.pagestack-sidebar {
  @include grid-column($columns: 12, $collapse: true);
  z-index: $zindex-modal + 50;
  background: $pagestack-background;
  position: relative;
  height: 100%;

  @media #{$medium-up}, #{$landscape} {
    width: 450px;
  }
  
  .pagestack-header, .pagestack-footer, .pagestack-body {
    background-color: $pagestack-background;
    background-clip: padding-box;
  }

  .pagestack-header, .pagestack-footer {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
  }

  .pagestack-header {
    padding: $pagestack-title-padding;
    border-bottom: 1px solid lighten($pagestack-background, 5%);
    height: $pagestack-title-height;

    & .pagestack-title {
        margin: 0;
        line-height: $pagestack-title-line-height;
        color: scale-color($inverse-input-font-color, $lightness: -10%);
    }

    & .close {
      margin-top: 2px;
      color: $pagestack-text-color;
      float: right;
    }
  }
  
  .pagestack-body {
    padding: $pagestack-inner-padding;
    position:absolute;
    top: $pagestack-title-height;
    bottom: $pagestack-footer-height;
    width:100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .pagestack-footer {
    height: $pagestack-footer-height;
    padding: $pagestack-inner-padding;
    text-align: right;
    border-top: 1px solid lighten($pagestack-background, 5%);
    bottom: 0;
    @include clearfix;

    // properly space out buttons
    .button + .button {
      margin-left: 5px;
      margin-bottom: 0;
    }
    .button {
      @extend .radius, .tiny;
    }
  }
}

.select2-drop.pagestack-select {
  background: lighten($pagestack-background, 8%);
  background-image: none !important;
  border: none;
  color: $inverse-input-font-color;
  font-size: 12px;

  .select2-results .select2-highlighted {
    background-color: $success-color;
  }
  .select2-search {
    margin-top: 4px;
    input {
      border-color: lighten($pagestack-background, 3%);
      background: lighten($pagestack-background, 5%) url(/assets/select2.png) no-repeat scroll 100% -22px;
      color: $inverse-input-font-color;
    }
  }
  .select2-results .select2-no-results {
    background-color: $alert-color;
    color: #fff;
  }
  .select2-result-label {
    font-size: $input-font-size;
  }
}
