div.block-panel {
  @include clearfix;
  @include panel(
    $bg: #ffffff,
    $padding: 0px,
    $adjust: false
  );
  border-radius: $global-radius;
  border: 1px solid #e5e6ea;
  border-bottom-width: 2px;
  border-bottom-color: darken(#e5e6ea, 1%);

  &.transparent,
  &.block-button {
    background-color: transparent;
    border-color: transparent;
  }
  &.faded {
    background-color: #f5f6f8;
  }

  &.block-button {
    &:hover {
      background-color: darken($body-bg, 2%);
    }

    .block-panel-button {
      @include size(100%);
      font-size: rem-calc(36px);
      text-align: center;
      position: relative;
      display: block;
      i {
        @include position(absolute, 50% null null 50%);
        @include size(36px);
        margin-top: -18px;
        margin-left: -18px;
      }
    }
  }

  & > .header,
  & > .content {
    @include clearfix;
    padding: rem-calc(20);
  }

  & > .header {
    background: #f5f6f8;
    border-bottom: 1px solid #e5e6ea;
    line-height: normal;
    font-size: rem-calc(12);
    color: $body-font-color;

    &.large {
      height: rem-calc(75);
    }

    & .button {
      margin-bottom: 0px;
    }

    &.toolbar {
      padding: rem-calc(5);
      border-radius: $global-radius $global-radius 0 0;
      @include background(linear-gradient(lighten($primary-color, 5%), $primary-color) top repeat);
    }
  }

  & > .content {

    &.scroll {
      overflow-y: scroll;
    }
  }

  &.chart,
  &.table {
    & > .header {
      height: auto;
      font-weight: bold;
    }
  }

  &.table {
    & > .content {
      @include grid-row();
      padding: 0px;
    }
  }

  @media print {
    border: none;

    & > .header {
      padding-left: 0px;
      padding-right: 0px;
      height: auto;
    }
    & > .content {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}