
$selectize-color-item: scale-color($primary-color, $lightness: 30%);
$selectize-color-item-text: $white;
$selectize-color-item-active-text: $white;
$selectize-color-item-border: #0073bb;
$selectize-color-item-active: $success-color;
$selectize-color-item-active-border: #00578d;
$selectize-color-dropdown-border-top: #f0f0f0;
$selectize-width-item-border: 1px;
$selectize-caret-margin: 0 1px;

$selectize-padding-x: 8px;
$selectize-padding-y: 8px;
$selectize-padding-item-x: 6px;
$selectize-padding-item-y: 2px;
$selectize-padding-dropdown-item-x: $selectize-padding-x;
$selectize-padding-dropdown-item-y: 5px;
$selectize-margin-item-x: 3px;
$selectize-margin-item-y: 3px;

.selectize-control {
  margin: 0 0 $form-spacing 0;
  input {
    height: auto;
  }
  &.multi {
    .selectize-input {
      @include form-element;
      height: auto;
      min-height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
      border-radius: none !important;
      margin-bottom: 0;
      &.has-items {
        $padding-x: $selectize-padding-x - 3px;
        padding-left: $padding-x;
        padding-right: $padding-x;
      }
      &.disabled [data-value] {
        color: #999;
        text-shadow: none;
        background: none;
        box-shadow: none;

        &, .remove {
          border-color: #e6e6e6;
        }
        .remove {
          background: none;
        }
      }
      [data-value] {
        color: $selectize-color-item-text;
        text-shadow: none;
        border-radius: $global-radius;
        box-shadow: none;// 0 1px 0 rgba(0,0,0,0.2),inset 0 1px rgba(255,255,255,0.03);
        @include linear-gradient($selectize-color-item, scale-color($selectize-color-item, $lightness: -10%));
        &.active {
          color: $selectize-color-item-active-text;
          @include linear-gradient($selectize-color-item-active, scale-color($selectize-color-item-active, $lightness: -10%));
        }
      }
    }
  }
  &.single {
    .selectize-input {
      color: $body-font-color;
      box-shadow: 0 1px 0 rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.8);
      @include linear-gradient(#fefefe, #f2f2f2);
    }
  }
}

.selectize-control.single .selectize-input, .selectize-dropdown.single {
  border-color: #b8b8b8;
}

.selectize-dropdown {
  .optgroup-header {
    padding-top: $selectize-padding-dropdown-item-y + 2px;
    font-weight: bold;
    font-size: 0.85em;
  }
  .optgroup {
    border-top: 1px solid $selectize-color-dropdown-border-top;
    &:first-child {
      border-top: 0 none;
    }
  }
}