table {
  
  &.no-border, .no-border {
    border: none !important;
  }

}

div.dataTables_wrapper {
  @include grid-column($columns: 12, $collapse: true);
  margin-bottom: 0;

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="color"],
  input[type="checkbox"],
  input[type="radio"],
  textarea,
  select {
    height: auto;
    padding: rem-calc(5px);
    margin-bottom: 0px !important;
  }
  
  .dataTables_processing {
    position: absolute;
    top: -20px;
    right: 10px;
    color: $body-font-color;
    transition: all 0.5s ease-out;
  }

  .dataTables_scrollBody {
    min-height: 500px;
  }

  .row + div[class*="dataTables"] {
    border-bottom: 1px solid $gainsboro;
  }
  
  & > div.row {
    background: lighten(#f5f6f8, 1%);
    padding: $column-gutter/2 0;
  }

  & > div.row:first-child {
    border-bottom: 1px solid $gainsboro;
    font-size: 12px;
  }

  & > div.row:last-child {

    ul.pagination {
      margin-bottom: 0;
    }
  }

  table.response-table {
    margin-top: 0 !important;

    th, td { 
      min-width: 200px;
      width: 250px;

      &:first-child{
        padding: 0 10px;
        min-width: 20px;
        width: 20px;
      }

      &:focus {
        outline:none;
      }
    }

    th.sorting_disabled:first-of-type {
      min-width: 20px;
      width: 10px !important;
    }

    th.sorting {
      width: 250px;
    }

    thead th {
      div {
        width: 100%;
        position: relative;
      }
      span {
        width: 95%;
        min-width: 75px;
        max-width: 170px;
        text-align: center;
        position: absolute;
        left: 2%;
        top: -7px;
      }
    }

    tbody {
      tr:hover {
        background: #ffffd2;
      }
      tr.active {
        background: #dcf1f1;
      }
      td {
        cursor: pointer;
      }
    }

    .ellipsis {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
    }
  }
}